html,
body {
  font-family: "Raleway", sans-serif;
  /* font-smoothing: antialiased; */
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  position: relative;
  min-height: 100%;
  min-height: 100vh;
  
}

a {
  color: inherit;
  text-decoration: none !important;
}


.webmadewell {
  font-family: "montserrat", san-serif;
  background-color: AliceBlue;
}

button {
  font-size: 1em;
  font-weight: bold;
  background-color:#00008B ;
  color: white;
  border: none;
  padding: 8px 16px;
  outline: none;
}
button::before {
  content: " ";
}
.page-about {
  position: relative;
  overflow: hidden;
  width: 90%;
  min-width: 600px;
  max-width: 1000px;
  margin: 40px auto;
  background-color: white;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 600px) {
  .page-about {
    display: none;
  }
}

.me {
  position: absolute;
  top: 0;
  left: 60%;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 600px) {
  .me {
    display: none;
  }
}

.left-side {
  position: absolute;
  width: 50%;
  padding: 40px;
}
.profile-photo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-image: url("assets/png1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.right-side-info {
  position: relative;
  padding: 40px;
  width: 50%;
  margin-left: 100%;
  color: white;
  background-color: DimGray;
}
.show-info .left-side {
  padding-top: 220px;
}
.show-info button {
  background-color: #00008B ;
}
.show-info button::before {
  content: " ";
}
.show-info .right-side-info {
  margin-left: 50%;
}
.left-side,
.right-side-info,
button {
  transition: all 0.5s ease-in-out;
}
.profile-photo {
  animation: right_frame 1s ease-in-out 1 forwards;
}
.show-info .profile-photo {
  animation: left_frame 1s ease-in-out 1 forwards;
}
@keyframes right_frame {
  0% {
    top: 40px;
    left: 40px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
  50% {
    top: 40px;
    left: 50%;
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
  100% {
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes left_frame {
  0% {
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
  50% {
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
  100% {
    top: 40px;
    left: 40px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
}


#sidebar {
  animation-duration: .2s;
  background-color: #E0E0E0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 1;
}


#sidebar ul {
  display: table;
  position: relative;
  top: 6em;
  width: 100%;
}
#sidebar ul li {
  border-style: none;
  display: table;
  font-size: 20px;
  font-weight: 400;
  height: 60px;
  margin-bottom: 5px;
  width: 100%;
}
#sidebar ul li:hover {
  /* background-color: #222426 !important; */
  /* color: #546a7b !important; */
}
#sidebar ul li a {
  /* background-color: rgba(84, 106, 123, 0); */
  /* color: inherit; */
  display: table-cell;
  height: 100%;
  padding-left: 1.2em;
  text-decoration: none;
  transform: translate(-5px, 0);
  transition: .6s ease-out;
  vertical-align: middle;
  width: 100%;
}
#sidebar ul li a:hover {
  /* color: #00f6ed !important; */
  transform: translate(5px, 0);
  transition: .2s linear;
}

#projects {
  /* background-color: #edf9f9; */
  padding: 80px 0;
}
#projects h2 {
  display: block;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0 !important;
  margin-after: .83em;
  margin-before: .83em;
  padding-bottom: 50px;
  position: relative;
  text-align: center;
}
#projects h2after {
  bottom: 30px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100px;
}

#about {
  background-color: #fdfdff;
  margin: 0;
  min-height: 70%;
  /* padding: 80px 0; */
}
#about h2 {
  display: block;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0 !important;
  margin-after: .83em;
  margin-before: .83em;
  padding-bottom: 50px;
  text-align: center;
}
#about h2after {
  bottom: 30px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100px;
}
#about div {
  font-family: "Droid Serif", sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.4em;
  text-indent: 25px;
}

#contact {
  background-color: #222426;
  font-size: 25px;
}
#contact strong {
  color: #fdfdff;
}

@media (min-width: 1024px) {
  #menu-button {
    font-size: 14px;
    left: 2.5em;
    position: fixed;
    top: 2.5em;
    z-index: 2;
  }

  #home h1 p {
    font-size: 42px;
    font-weight: 400;
  }
  #home h1 strong {
    font-size: 46px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #menu-button {
    font-size: 12px;
    left: 2.5em;
    position: fixed;
    top: 2.5em;
    z-index: 2;
  }

  #home h1 p {
    font-size: 38px;
    font-weight: 400;
  }
  #home h1 strong {
    font-size: 42px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #menu-button {
    font-size: 10px;
    left: 2.5em;
    position: fixed;
    top: 2.5em;
    z-index: 2;
  }

  #home h1 p {
    font-size: 30px;
    font-weight: 400;
  }
  #home h1 strong {
    font-size: 34px;
  }

  #contact button {
    font-size: .7em;
  }
  #contact p {
    font-size: .7em;
  }
}
.dark-gray-background {
  background-color: #fdfdff;
  /* background-image: url(); */
}

.dark-gray-font {
  color: #222426 !important;
}

.light-white-font {
  color: #fdfdff;
}

.light-blue-background {
  background-color: #edf9f9;
}

.middle-blue-font {
  color: #00008B !important;
}

.middle-blue-background {
  background-color: #fdfdff;
}

.dark-blue-font {
  color: #546a7b;
}

.center {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container-fluid {
  min-height: 100%;
  padding: 0;
}

.fill {
  height: 100%;
  min-height: 100%;
}
.ifa1 {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

}
.footer {
  bottom: 0;
  min-height: 30%;
  position: relative;
}
.footer .container {
  /* left: 50%;
  padding-top: 1.3em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%; */
}

.fixed-width {
  max-width: 300px;
  min-width: 300px;
}

.email {
  font-size: .9em;
  height: 2.4em;
  width: 8.7em;
}

.typed-cursor {
  -webkit-animation: blink .7s infinite;
  -moz-animation: blink .7s infinite;
  animation: blink .7s infinite;
  opacity: 1;
}

.cards {
  width: 100%;
  display: block;
  text-align: center;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  max-width: 820px;
}

.card--1 .card__img, .card--1 .card__img--hover {
  background-image: url('assets/projects/HumanProtein.png');
}
.card--2 .card__img, .card--2 .card__img--hover {
  background-image: url('assets/projects/Cancer.PNG');
}
.card--3 .card__img, .card--3 .card__img--hover {
  background-image: url('assets/projects/GlassDoorPrediction.PNG');
}
.card--4 .card__img, .card--4 .card__img--hover {
  background-image: url('assets/projects/audiobooks.jfif');
}
.card--5 .card__img, .card--5 .card__img--hover {
  background-image: url('assets/projects/HaptikNLP.PNG');
}
.card--6 .card__img, .card--6 .card__img--hover {
  background-image: url('assets/projects/Reco.png');
}
.card--7 .card__img, .card--7 .card__img--hover {
  background-image: url('assets/projects/HotelEDA.PNG');
}
.card--8 .card__img, .card--8 .card__img--hover {
  background-image: url('assets/projects/CustomerAndPurchaseAnalytics.png');
}
.card__like {
  width: 18px;
}

.cardblog--1 .card__img, .cardblog--1 .card__img--hover {
  background-image: url('assets/blogs/DS.jpeg');
}
.cardblog--2 .card__img, .cardblog--2 .card__img--hover {
  background-image: url('assets/blogs/CLT.jpeg');
}
.cardblog--3 .card__img, .cardblog--3 .card__img--hover {
  background-image: url('assets/blogs/CLT2.png');
}
.cardblog--4 .card__img, .cardblog--4 .card__img--hover {
  background-image: url('assets/blogs/DecisionTree.png');
}
.cardblog--5 .card__img, .cardblog--5 .card__img--hover {
  background-image: url('assets/blogs/stats.jpg');
}

.cardcertification--1 .card__img, .cardcertification--1 .card__img--hover {
  background-image: url('assets/certifications/ProfessionDE.PNG');
}
.cardcertification--2 .card__img, .cardcertification--2 .card__img--hover {
  background-image: url('assets/certifications/DE2.png');
}
.cardcertification--3 .card__img, .cardcertification--3 .card__img--hover {
  background-image: url('assets/certifications/JovianDL.PNG');
}

.card__clock {
  width: 15px;
vertical-align: middle;
  fill: #AD7D52;
}
.card__time {
  font-size: 12px;
  color: #AD7D52;
  vertical-align: middle;
  margin-left: 5px;
}

.card__clock-info {
  float: right;
}

.card__img {
visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;

}

.card__info-hover {
  position: absolute;
  padding: 16px;
width: 100%;
opacity: 0;
top: 0;
}

.card__img--hover {
transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
position: absolute;
  height: 235px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;

}
.card {
margin-right: 25px;
transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
background-color: #fff;
  width: 33.3%;
position: relative;
border-radius: 12px;
overflow: hidden;
box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
background-color: #fff;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
 padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

.card__by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #00008B;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



h1, h2, h3, h4, h5, h6 {
  color: #3D4351;
  margin-top: 0;
}

a {
  color: #00008B;
}
a:hover {
  color: #00008B;
  text-decoration: none;
}

.example-header {
  background: #3D4351;
  color: #FFF;
  font-weight: 300;
  padding: 3em 1em;
  text-align: center;
}
.example-header h1 {
  color: #FFF;
  font-weight: 300;
  margin-bottom: 20px;
}
.example-header p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

.container-fluid .row {
  padding: 0 0 4em 0;
}
.container-fluid .row:nth-child(even) {
  /* background: #F1F4F5; */
}

.example-title {
  text-align: center;
  /* margin-bottom: 60px; */
  padding: 3em 0;
  /* border-bottom: 1px solid #E4EAEC; */
}
.example-title p {
  margin: 0 auto;
  font-size: 16px;
  max-width: 400px;
}

/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
  line-height: inherit;
}



/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}

.timeline-name{
  color:#00008B;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: #00008B;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #00008B;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
}


/*----------------------------------------------
    MOD: TIMELINE CENTERED
----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }
}


/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FF6B6B;
}
.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FF6B6B;
}


section article.skills {
  width: 600px;
  height: auto;
  margin-left: 400px;
}
section article.skills p {
  z-index: 2;
  font-weight: 500;
  color: black;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
section article.skills div span:nth-child(1) {
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #f8ff96;
  height: 100%;
  width: 100%;
}
section article.skills div span:nth-child(2) {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00008B;
  height: 100%;
}
section article.skills div:nth-child(1) span:nth-child(2) {
  width: 90%;
  animation-delay: 0;
}
section article.skills div:nth-child(2) span:nth-child(2) {
  width: 90%;
  animation-delay: 0.05s;
}
section article.skills div:nth-child(3) span:nth-child(2) {
  width: 80%;
  animation-delay: 0.1s;
}
section article.skills div:nth-child(4) span:nth-child(2) {
  width: 70%;
  animation-delay: 0.15s;
}
section article.skills div:nth-child(5) span:nth-child(2) {
  width: 75%;
  animation-delay: 0.2s;
}
section article.skills div:nth-child(6) span:nth-child(2) {
  width: 60%;
  animation-delay: 0.25s;
}
section article.skills div:nth-child(7) span:nth-child(2) {
  width: 80%;
  animation-delay: 0.3s;
}
section article.skills div:nth-child(8) span:nth-child(2) {
  width: 75%;
  animation-delay: 0.35s;
}
/* main {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.skills {
  animation: skills 1.25s cubic-bezier(0.17, 0.67, 0, 1);
}
@keyframes skills {
  0% {
    left: -500px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

